<%# <head>
<style>
.registerUser{
  margin: 0 auto;
  width: 30%;
}
</style>
</head>


<form class="registerUser" method="POST" action="/register">
  <h1>Registration</h1>
  <hr>
  <h3>Personal Information</h3>
  <div>
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" required minlength="2">
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" required minlength="2">
  </div>
  <div>
    <label for="divingExperience">Diving Experience</label>
    <input type="text" name="divingExperience" id="divingExperience" required>
  </div>
  <h3>Account Information</h3>
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
    </div>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>
  <div>
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation" required>
  </div>

  <button class="button">Register</button>

</form> %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>

            <div class="wrap">
                <p class="form-title">Sign Up</p>


                <form class="login" method="POST" action="/register">
                <input type="text" placeholder="First Name" name="firstName" id="firstName" required minlength="2"> />
                <input type="text" placeholder="Last Name"  name="lastName"  id="lastName"  required minlength="2"> />
                <input type="text" placeholder="Diving Experience" name="divingExperience" id="divingExperience" required minlength="2"> />
                <input type="text" placeholder="Desired Username" name="username" id="username" required minlength="2"> />
                <input type="email" placeholder="Email" name="email" id="email" required minlength="2"> />
                <input type="password" placeholder="Password" name="password" id="password" required> />
                <input type="password" placeholder="Password Confirmation" name="passwordConfirmation" id="passwordConfirmation" required > />

                <input type="submit" value="Sign Up" class="btn btn-success btn-sm" />



                </form>




            </div>
          </div>
        </div>
    </div>

</div>
