




<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" id="dropdownmenu" data-dropdown-menu>
        <h1><a href="/">DocuDive</a></h1>
    </ul>
  </div>
  <div class="top-bar-right" id="topRight">
    <ul class="dropdown menu" data-dropdown-menu>
      <a href="/dives">Dives</a>

      <% if(!locals.isLoggedIn) { %>
        <a href="/register">Sign Up</a>
        <a href="/login">Login</a>
      <% } else { %>
        <a href="/dives/new">Add a dive</a>
      <a href="/logout">Logout</a>
      <% } %>
    </ul>
  </div>
</div>
