<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Document your Dive</title>
  <% include ./partials/_stylesheets.ejs %>
  <link rel="stylesheet" href="/css/style.css">

  <% include ./partials/_scripts.ejs %>
  <script src="/js/app.js" charset="utf-8"></script>
</head>
<body <% if(locals.isHomepage) { %>class="homepage"<% } %>>
<body <% if(locals.isEditMap) { %>class="isEditMap"<% } %>>
  <header>
    <% include ./partials/_navbar %>

    <% for(const type in messages) { %>
      <div class="callout <%= type %>">
        <h6><%= messages[type] %></h6>
      </div>
    <% } %>
  </header>
  <main>
    <%- body %>
  </main>
</body>
</html>
