<div class="indexHeader">
  <h1 class="indexHeaderTitle">Logged Dives</h1>
  <hr>
</div>
<div class = "imagesIndex">
<div class="background">
<div class="row">
<% dives.forEach((dive) => { %>
  <div class="col-md-4">
  <a href="/dives/<%= dive.id %>">
  <img class="thumbnail" src="<%= dive.image %>" alt="<%= dive.location %>">
  <h2> <%= dive.location %></h2>
  <p><% while(dive.stars--) { %> &star; <% } %></p>
  </a>
  </div>
  <% }) %>
</div>
</div>
</div>
