<div class="container">
  <div class="row">


    <div class="col-md-12">
      <div class="newDive">
        <p class="form-title" id="addDiveTitle">Add Your Dive Recommendation</p>
        <form class="login" method="POST" action="/dives">

          <input type="text" placeholder="Location" name="location" id="location" required>
          <input type="text" placeholder="Difficulty" name="difficulty" id="difficulty" required>
          <input type="text" placeholder="Visibility" name="visibility" id="visibility" required>
          <input type="text" placeholder="Dive Date" name="diveMonth" id="diveMonth" required>
          <input type="number" placeholder="Rating" name="stars" id="stars" min="1" max="5" required>
          <input type="text" placeholder="Insert Image URL" name="image" id="image" required>
          <input type="text" placeholder="Click Location on Map to autocomplete" name="latitude" id="lat" required>
          <input type="text" placeholder="Click Location on Map to autocomplete" name="longitude" id="lng" required>
          <br>
          <br>
          <button type="submit" class="btn btn-primary">Submit Review</button>
        </form>
        <br>
        <br>
      </div>
    </div>



    <div class="col-md-12">
      <h2>Map</h2>
      <div id="map"></div>
    </div>



  </div>

</div>
