#map {
  height:500px;
  width:500px;
  border-radius: 5%;
  opacity: 0.8;
position: fixed;
  margin-top: 100px;
  margin-left: 850px;


}

img{
  height: 300px;
  width: 300px;
  border-radius:20%;

    margin-left: -970px;
    margin-top: 100px;
}

.showLeft{
  height: 200px;
 width: 250px;
 max-width: 100%;
 text-align: center;
 display: block;
   margin-left: auto;
   margin-right: auto;

}

.showLeftText{
  margin-left: -960px;
  font-size: 20px;
}
.showRight{
  height: 200px;
  width: 350px;
  max-width: 100%;
  text-align: center;
  display: block;
  position: fixed;


}

#jumbo{
  background-color: black;
  background-size: cover;
  height: 10px;
  color: white;
  margin-bottom: 1px;
}


.top-bar{
  font-size: 16px;
  color: white;
}
.top-bar a{
  color: white;
  font-family: 'Archivo Black', sans-serif;
}

.thumbnail {
  height: 150px;
  width: 220px;
  max-width: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  border-radius:20%;
  overflow:hidden;
  }


.thumbnail:hover {
  opacity:0.7;
}

  h2, p, h4, h6{
    text-align: center;
    color: black;
    font-size: 14px;

  }

  .newDive{
    text-align: center;
  }
  .showDive{
    color: blue;
    line-height: 20px;
    font-size: 8px;
    & p{
     font-size: 12px;
     color: black;
     line-height: 20px;
     margin: 2em 0 0 0;

    }
  }
  #formComments{
    font-size: 10px;
    margin-left: 300px;
    margin-top: -160px;
    position:fixed;
    text-align: center;
  }
  .commentsForm{
    font-size:20px;
    margin-left: 326px;
    margin-top: 70px;
    line-height: 10px;
    & button{
      font-size: 12px;
      float: right;
    }
}
.btn{
  height: 30px;
  margin-right: 100px;
  margin-top: -4px;
}

#buttonShow.btn{
  margin-left: 108px;
  margin-top: 170px;
  background: #1E90FF;
  text-shadow: 10px;
      transform: rotateX(35deg);

}
#content{
  width: 250px;
  height: 100px;
  font-size: 12px;
  margin-top: 70px;
  margin-left:35px;
  position:fixed;
  box-shadow:inset 0 0 5px 5px #888;
 background: #fff;
}



body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHQhEop9bfbCB1tqMcxmk8hPYdV8jgElLSVq8xm1uL-jR0kVnU');
  background-size: 100% 100%;
  background-repeat: repeat;
  height: 100vh;
  background-position: cover;

  &.homepage {
    background: url('http://www.wondermondo.com/Images/NAmerica/Bermuda/Bermuda/BermudaCave.jpg') fixed;
    background-size: cover;
    background-position: 8px 8px;
    padding: 0;
    margin: 0;
  }
}



.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size:20px;
    font-weight: 600;
    text-align: right;
    margin-right: 140px;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    width: 250px;
    margin: 0 auto;


}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
    color: white;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 800;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;

}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
.posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}

.img-circle avatar{
  width: 100px;
}
