#map {
  height: 100%;
  width: 100%;
  margin-top: 20px;
}


#buttonShow.btn{
  margin-left: 880px;
  margin-top: -320px;
}

.userProfile{
  text-align: center;
  margin-top: 100px;
  margin-left: 180px;
  height: 350px;
  width: 300px;
  border-radius:20%;
}
.newDive{
  margin-top: 30px;
}

.fixbar {
    width: 100%;
    height:30px;
    position: fixed;
    left: 0px;
    top: 0px;
    right:0;
    height: 30px;
    background: black;
    z-index: 1;
}
#search {
    position: absolute;
    margin-right: 100px;
    top: 0px;
    width: 30px;
    height: 22px;
    z-index: 1;
}

.commentsForm{
  margin-left: 100px;
  text-align: center;

}

img{
  height: 250px;
  width: 300px;
  border-radius:20%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

}

.showDive{
  margin-top: 80px;
}

.showLeft{
  height: 200px;
 width: 250px;
 max-width: 100%;
 text-align: center;
 display: block;
   margin-left: auto;
   margin-right: auto;
   margin-left: 600px;
}

.showLeftText{
  margin-left: -960px;
  font-size: 20px;
}
.showRight{
  height: 400px;
  width: 450px;
  max-width: 100%;
  text-align: center;
  display: block;
  position: fixed;
}


#jumbo{
  background-color: black;
  background-size: cover;
  height: 10px;
  color: white;
  margin-bottom: 1px;
}


.top-bar{
  font-size: 16px;
  color: white;
}
.top-bar a{
  color: white;
  font-family: 'Archivo Black', sans-serif;
}

.thumbnail {
  height: 180px;
  width: 240px;
  max-width: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  border-radius:20%;
  overflow:hidden;
  margin-bottom: 4px;
  line-height: 10px;
  margin-top: 20px;
   box-shadow: 0 0 10px 2px #282a2d;
  }


.thumbnail:hover {
  opacity:0.5;
}

  h2, p, h4, h6{
    text-align: center;
    color: black;
    font-size: 14px;

  }

  #formComments{
    font-size: 10px;
    margin-left: 300px;
    margin-top: -160px;
    position:fixed;
    text-align: center;
  }

.btn{
  height: 30px;
  margin-right: 100px;
  margin-top: -4px;
}


#content {
  width: 250px;
  height: 100px;
  font-size: 12px;
  margin-top: -280px;
  margin-left:800px;
  // position:fixed;
  box-shadow:inset 0 0 5px 5px #888;
 background: #fff;
}


.indexHeader{
text-align: center;
}

.indexHeaderTitle{
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
   font-family: Copperplate,Copperplate Gothic Light,fantasy;
}

body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHQhEop9bfbCB1tqMcxmk8hPYdV8jgElLSVq8xm1uL-jR0kVnU');
  background-size: 100% 100%;
  background-repeat: repeat;
  height: 100vh;
  background-position: cover;

  &.homepage {
    background: url('https://i.imgur.com/x6WnfYl.jpg') fixed;
    background-size: cover;
    background-position: 8px 8px;
    padding: 0;
    margin: 0;
  }
}



.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-size:40px;
    font-weight: 900;
    margin-left: -100px;
    margin-right:-200px;
    margin-bottom: -50px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 2px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#addDiveTitle{
  margin-left: -20px;
  margin-bottom: 10px;
  font-size: 30px;
}


form.login input[type="text"], form.login input[type="password"], form.login input[type="email"], form.login input[type="number"]
{
    width: 100%;
    padding: 5px 5px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 0px;
    margin-top: 20px;

    color: #FFFFFF;
    outline: 0;
    color: black;
    line-height: 50px;
}



form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 800;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;

}

form.login a:hover
{
    color: #2ecc71;
}

form.login{
  width: 500px;

}



.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    // position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}



.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
.posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}

.img-circle avatar{
  width: 100px;
}

#navbar ul {
 margin: 0;
 padding: 5px;
 list-style-type: none;
 text-align: left;
 background-color: #000;
 font-size: 22px;
 font-family: Copperplate,Copperplate Gothic Light,fantasy;

 }

#navbar ul li {
 display: inline;
 }

#navbar ul li a {
 text-decoration: none;
 padding: 0 10px;
 color: #fff;
 background-color: #000;
 }

#navbar ul li a:hover {
 color: #000;
 background-color: #fff;
 }

#editShow #deleteShow{
  color: #7FDBFF;
  text-decoration: none;
}

 .searchBar{
   float: right;
   line-height: 22px;
   margin-top: 5px;
   margin-right: 10px;
   font-size: 10px;
 }

 .fa-globe{
   font-size: 30px;
   margin-left:  156px;
 }

.user-container{
   font-family: Copperplate,Copperplate Gothic Light,fantasy;
   text-align: center;
}




.comment-container{
   font-family: Copperplate,Copperplate Gothic Light,fantasy;
  font-size: 14px;
  line-height: 20px;
& p{
  font-size: 18px;
   font-family: Copperplate,Copperplate Gothic Light,fantasy;
   color: #39CCCC;
   & small{
  float: left;
   }
}
}

.comment-form{
   font-family: Copperplate,Copperplate Gothic Light,fantasy;
  font-size: 20px;
  line-height: 20px;
  margin-top: 10px;
  width: 400px;
  & textarea{
    width: 400px;
    & button.btn{
      text-align: center;
    }
  }


}
